<!DOCTYPE html>
<html>
  <head>
    <title>Mazon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('neonmoon.png') %> <%#= added tab icon so it would be easier to spot %>
  </head>

  <body class='products' >  <%#= this is an error from page 72, original text calls for class='<%/= controller.products.controller %/>'; site errata (https://pragprog.com/titles/rails4/errata) gives this correction. Still not sure why the original syntax wouldn't work though %>
    <%= yield %>
  </body>
</html>
